.flag-img {
  height: 30px;
  width: 40px;
  padding: 20px;
  float: right;
}
.page {
  height: 55vh;
  width: 500px;
  top: 10%;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
}
.select-box {
  top: 30%;
  left: 50%;
  padding: 20px;
  position: absolute;
  transform: translate(-50%);
}

option {
  background-color: rgb(52, 52, 241);
}

option :hover {
  background-color: rgb(50, 50, 223);
}

.select-box {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  width: 80px;
}

.small {
  border-width: 1px solid black;
}

select {
  width: 200px;
  height: 40px;
}

.div1,
.div2 {
  border-radius: 10px;
  border: 0.3px solid rgb(179, 170, 170);
  margin: 10px;
  padding: 15px;
}
